<div class="home-container">
 <header class="main-header" (click)="asideDeploy()">
     
 </header>
 <aside class="main-aside-container"  [ngClass]="asideVisible ? 'asideCVisible' : 'asideCInvisible'"  [ngClass]=" mainAsideContainerDeploy ? 'visible' : 'hide'" >
     <div class="main-aside" [ngClass]="asideVisible ? 'asideVisible' : 'asideInvisible'" (click)="asideDeploy()"> 
                 
     </div>     
 </aside>
 <main class="main-content-container" [ngClass]=" mainAsideContainerDeploy ? '' : 'main-content-container-width'">
     <div class="main-content-aside" [ngClass]=" mainAsideContainerDeploy ? 'hide' : ''"></div>
     <div class="main-content">
         <div class="main-content-header"  [ngClass]=" mainAsideContainerDeploy ? '' : 'main-content-header-with'"></div>
         <div class="main-content-main"></div>
     </div>
 </main>
</div>


