@import "src/assets/scss/basis/colors";
.home-container{
    width: 100%;
    height: 100%;    
    overflow: auto;
    /* background-image: url('./img/home-mobile.jpg'); */
    background-size: 100% 100%;   
    
}
.main-header{
    background-color:$cl-second;
    width: 100%;
    height: 30px;   
    position: fixed;
    top:0;
    z-index: 2;
}
.main-aside-container{
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: all 0.20s;   
    .main-aside{
        background-color: $cl-second;
        position: fixed;
        width: 24%;
        height: 100%;
        left: -100%;
        transition: all 0.30s;
        overflow: auto;        

    }
}
.main-content-container{
    position: relative;
    width: 100%;
    top:29px;
    height: 2000px;    
    z-index: 1;
    .main-content-aside{
        background-color: $cl-second;
        width: 8%;
        height: 100%;
        position: fixed;
        float: right;
    }
    .main-content{        
        width: 92%;
        height: 100%;
        float: right;
        position: relative;           
        .main-content-header{
            width: 92%;
            height: 29px;
            background-color: $cl-second;            
            position: fixed;
            z-index: 2;
            border-top: 2px solid $cl-light-black;
            border-bottom: 1px solid $cl-light-black;
            
        }
        .main-content-main{
            width: 100%;
            height: 100%;
            position: relative;
            top:29px;
            background-color: $cl-primary;
            z-index: 1;    
            
        }
    }
}
.asideCVisible{/* aside container visible */
    opacity: 1;
    height: 100%;
}
.asideVisible{
    left: 0 !important;
}



@media(min-width:700px){
    .home-container{
        /* background-image: url('./img/home-deskop.jpg');  */
        /* background-size: 100% 100%;  */
       
        &::-webkit-scrollbar {
            width: 11px;
            background-color: $cl-primary;            
        }     
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #AAAAAA;            
        }
    }   
    .main-header{
        height: 60px;
        width: 99.2%;
    }
    .main-aside-container{        
        height: calc(100% - 60px);
        top:60px;
        opacity: 1;
        width: 17.5%;      
        transition: none;             
        
        .main-aside{
            position: relative;
            width: 100%;
            height: 100%;            
            left: 0;       
           
        }
    }
    .main-content-container{
        width: 82.5%;
        top:60px;        
        left: 17.5%;          
        
       
        .main-content-aside{
            width: 5.5%;    
            left: 0;                                                
        }
        .main-content{            
            width: 100%;  
            float: initial;              
                             
            .main-content-header{ 
                width: 81.8%;                         
                height: 60px;   
                border-top: 1px solid $cl-light-black;               
            }
            .main-content-main{
                top:60px;
                height: calc(100% - 60px);                                               
            }
        }
    }
    .hide{
        display: none;
    }  
    .main-content-container-width{
        width: 94.5%;
        left: 5.5%;
    }
    .main-content-header-with{
        width: 93.75% !important ; 
    }   
}